@model Homework_7_Chervenko.Models.Expense

@{
    ViewData["Title"] = "Видалити витрату";
}

<h2>Видалити витрату</h2>

<h4>Ти впевнена, що хочеш видалити цю витрату?</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">Категорія</dt>
    <dd class="col-sm-10">@Model.Category.Name</dd>

    <dt class="col-sm-2">Сума</dt>
    <dd class="col-sm-10">@Model.Price грн</dd>

    <dt class="col-sm-2">Коментар</dt>
    <dd class="col-sm-10">@Model.Comment</dd>

    <dt class="col-sm-2">Дата</dt>
    <dd class="col-sm-10">@Model.Date.ToShortDateString()</dd>
</dl>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Видалити</button>
    <a asp-action="Index" class="btn btn-secondary">Назад</a>
</form>
